.Seat {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    background-color: lightgreen;

    &__occupied {
        background-color: red;
    }

    &__selected {
        background-color: yellow;
    }
}
